<div class="contact">

    <img src="assets/images/logo-small.svg" alt="wolf Logo" />
    <div class="contact__title">Get in Touch</div>
    <div class="contact__content">
        <div class="contact__content__message">
          If you have any inquiries or would like to further explore my qualifications, I invite you to reach out to me. I am eager to discuss how my skills and experience align with your organization's needs and how we can collaborate effectively to achieve remarkable outcomes. Please feel free to contact me at your convenience.
        </div>
    </div>

    <a class="contact__link" [href]="'mailto:'+email">
        <mat-icon>email</mat-icon>
        <span>Say Hello!</span>
    </a>

</div>
